.wrapper {
  width: 100%;
  display: flex;
  padding-left: 2rem;
}
.sort {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.sort:hover {
  background-color: rgb(177, 177, 243);
}
.nameSort {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(238, 245, 243);
}
.nameSort div {
  display: flex;
  margin: 15px 10px;
  padding-left: 18px;
  align-items: center;
}

.nameSort span {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  margin: 15px 10px;
  cursor: pointer;
}


.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 177, 243);
}

@media all and (max-width: 700px) {
  .wrapper {
    padding-left: 10px;
  }
}
